@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");




/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h2 {
	color: fuchsia;
}

body {
	background-image: url('https://images5.alphacoders.com/562/562925.jpg');
	background-size: cover;
}


#magnum {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 0 0 1.25rem 0;
}

.topContent__info {
	flex-basis: 45%;
}

.bottomContent {
	width: 80%;
	display: flex;
	align-items: center;
}

.shows {
	width: 100%;
}

.border {
	border-top: 5px solid yellowgreen;
	border-left: 5px solid dodgerblue;
	border-bottom: 5px solid chocolate;
	border-right: 5px solid snow;
	background-color: goldenrod;
}

.padded {
	padding: 1rem;
}